IP_LOCAL=192.168.1.50

POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=change-me
POSTGRES_DB=ecommerce

DATABASE_URL=postgresql://ecommerce:change-me@postgres:5432/ecommerce

API_URL=http://api:4000
NEXT_PUBLIC_API_URL=http://localhost:4000
FRONTEND_URL=http://localhost:3000

JWT_SECRET=troque-isso-por-uma-chave-grande-e-aleatoria

IFTHENPAY_MBWAY_KEY=123
IFTHENPAY_CALLBACK_KEY=asd

CLOUDFLARE_TUNNEL_TOKEN=123